@font-face {
  font-family: Antic;
  src: url("fonts/AnticDidone-Regular.ttf");
}

.pt-3 {
  padding-top: 20px !important;
}
.pt-4 {
  padding-top: 40px !important;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .pt-md-4 {
    padding-top: 40px !important;
  }
}
/* Small devices (tablets, 575.98px and up) */
@media (min-width: 575.98px) {
  .pt-sm-3 {
    padding-top: 20px !important;
  }
}
.pb-1 {
  padding-bottom: 5px !important;
}
.pb-3 {
  padding-bottom: 20px !important;
}
.pr-2 {
  padding-right: 10px !important;
}
.pl-2 {
  padding-left: 10px !important;
}
.pl-55 {
  padding-left: 55px !important;
}
.mb-3 {
  margin-bottom: 20px !important;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-30 {
  padding-bottom: 30px;
}
h1 {
  font-size: 152px;
}
h2 {
  font-size: 24px;
}
body {
  font-family: Antic;
  color: black;
  background-color: #f8f8f8;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
a:hover {
  transform: scale(1.2);
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

/*        */
/* Navbar */
/*        */
.navbar {
  height: 100px;
  color: black !important;
  font-family: Antic;
}
.navbar-brand {
  font-size: 24px;
  margin-left: -25px;
  line-height: 85%;
}
.navbar-nav li:first-child {
  padding-right: 57px;
}
.navbar-nav li a {
  font-size: 16px;
}
.navbar-brand,
.navbar-nav li a {
  color: black !important;
  font-family: Antic;
}

/*              */
/* Landing Page */
/*              */
.landing-page {
  height: 100vh;
  background-color: #050505;
  color: #f8f8f8;
}

.centered {
  position: absolute;
  /* horizontal center */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* verical center */
  top: 50%;
  transform: translateY(-50%);
  color: #f8f8f8;
}

.centered a {
  color: #f8f8f8;
}

/*              */
/* About Page   */
/*              */

.ig-big {
  width: 37px;
  margin-top: 100px;
  margin-bottom: 35px;
  display: block;
}

.ig-small {
  width: 20px;
  height: 20px;
  display: block;
}

.about-row {
  margin-top: 55px;
  margin-bottom: 100px;
}

.about-text {
  padding-right: 55px;
}

.small-divisor {
  width: 7px;
  background-color: black;
}

.small-divisor-horizontal {
  height: 0.7px;
  width: 80px;
  background-color: black;
}

/*             */
/* Albums Page */
/*             */

/*images hover effect */
.container-div {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;

  /* margin-bottom: 5px; */
  margin-bottom: 20px;
}

.container-div:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text:hover {
  font-size: 28px;
}
/* Album Template */
.arrow {
  margin-left: 25px;
  margin-top: 25px;
  width: 16.2px;
  height: 18px;
}
.arrow:hover {
  transform: scale(1.2);
  color: #050505;
}

.album-gallery-copy {
  padding-top: 30vh;
}

/*  */
.top-section {
  /* padding-left: 8.33vw; */
  height: 30vh; /* Full-height: remove this if you want "auto" height */
  width: 100vw; /* Set the width of the tobar */
  position: fixed; /* Fixed Topbar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  background-color: #f8f8f8;
}
.top-section div {
  margin-top: 1%;
}

.top-section-text {
  width: 40vw;
}

/*        */
/* footer */
/*        */
footer {
  height: 100px;
}

.footer-fixed {
  position: fixed;
  height: 100px;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #f8f8f8;
}

/*              */
/* Media Queries */
/*              */

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  h1 {
    font-size: 128px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  h1 {
    font-size: 112px;
  }
}

@media (max-width: 825.99px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 778.98px) {
  body {
    font-size: 14px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 88px;
  }

  h2,
  .navbar-brand {
    font-size: 20px;
  }

  .ig-big {
    width: 25px;
    margin-bottom: 50px;
    margin-top: 0;
  }

  .about-row {
    margin-bottom: 0;
  }

  body
    > main
    > section
    > div.row.about-row.h-100.mx-0
    > div.col-12.col-md-2.d-flex-column.align-self-center
    > h2 {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .small-divisor-horizontal {
    margin-top: 50px;
  }

  .about-text {
    padding-right: 0px;
  }

  .margin-adjust {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 72px;
  }
  .navbar-nav li:first-child {
    padding-right: 35px;
  }

  .arrow {
    width: 14.2px;
    height: 16px;
    margin-top: 20px;
    margin-left: 20px;
  }
}
/* Custom query*/
@media (max-width: 469.98px) {
  h1 {
    font-size: 64px;
  }

  body {
    font-size: 11px;
  }

  .ig-big {
    width: 20px;
  }

  .ig-small {
    width: 15px;
    height: 15px;
  }

  .navbar-nav li:first-child {
    padding-right: 30px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 419.98px) {
  body {
    font-size: 9px;
  }

  h1 {
    font-size: 48px;
  }
  h2,
  .navbar-brand {
    font-size: 14px;
  }

  .navbar {
    height: 90px;
  }
  .navbar-brand {
    margin-left: -15px;
    line-height: 85%;
  }
  .navbar-nav li:first-child {
    padding-right: 25px;
  }
  .navbar-nav li a {
    font-size: 10px;
  }
  .navbar-brand,
  .navbar-nav li a {
    color: black !important;
    font-family: Antic;
  }

  .small-divisor-horizontal {
    width: 55px;
    margin-top: 30px;
  }

  .ig-big {
    margin-bottom: 30px;
    margin-top: 0;
  }

  .arrow {
    width: 12.2px;
    height: 14px;
  }

  body
    > main
    > section
    > div.row.about-row.h-100.mx-0
    > div.col-12.col-md-2.d-flex-column.align-self-center
    > h2 {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .ig-small {
    width: 12px;
    height: 12px;
  }

  footer {
    height: 50px;
  }
  .footer-fixed {
    height: 50px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-height: 750px) {
  .pb-h-15 {
    padding-bottom: 15px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-height: 500px) {
  .pb-h-5 {
    padding-bottom: 5px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-height: 750px) {
  .pb-h-5 {
    padding-bottom: 5px;
  }
}
